<h1>Films de <%= current_user.email %></h1>


<table class="table">
    <tr>
        <th>Titre du film</th>
        <th>Date de sortie</th>
        <th>Retirer de sa liste</th>
        <%# <th>Réservé depuis</th> %>
    </tr>
    
    <% @user.films.each do |film| %>
    <tr>
        <td><%= film.titre %></td>
        <td><%= film.date_sortie %></td>
        <td>
            <a type="submit" href="<%= videotheques_path %>/<%= film.id %>" class="btn btn-danger active" data-method="delete">Supprimer le film</a>
        </td>
        <%# <td>AAAA</td> %>
    </tr>
    <% end %>
</table>

<a href="<%= new_videotheque_path %>" class="btn btn-primary active" role="button" aria-pressed="true">Ajouter un film</a>